.contactContainer {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  display: grid;
  place-items: center;
  background-color: white;
  position: fixed;
}

.mailBtn {
  text-decoration: none;
  transform: translateX(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
  width: 32vw;
  color: aqua;
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  padding: 5% 0%;
  margin: 5% 0;
  text-decoration: none;
  font: 200 2vmax "Roboto";
  cursor: url("https://res.cloudinary.com/dc9bjecdl/image/upload/v1660333214/avatars/icons8-pencil-drawing-40_d7buqp.png"),
    pointer;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateX(0);
  }
}
